<header class="header_section">


    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/">
          <img src="images/logo.png" alt="" />
          <span>
            UltraSpec:Blogs
          </span>
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color:white;" aria-current="page" href="#">Home</a>
          </li>
         
          <ng-container *ngIf="user && user !== undefined && user.role.includes('admin')">

            <li class="nav-item">
              <a class="nav-link active" style="color:white;"  routerLink="admin/categories">Category Manager</a>
            </li>     
            <li class="nav-item">
              <a class="nav-link active" style="color:white;"  routerLink="admin/blogposts">Blog Post Manager</a>
            </li>      

            <li> <button class="btn btn-primary ms-3" style="color:white;" (click)="onLogout()">Logout</button></li>

          </ng-container>

          <ng-container *ngIf="user === undefined; ">
            <li class="nav-item">
              <a [routerLink]="['/login']" class="nav-link" style="color:white;" >Login</a>
            </li>
          </ng-container>
        </ul>
    </nav>

</header>