<div class="container">
  <div class="p-3">
    <h1>Category List</h1>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <!-- Search box-->
    <div class="d-flex">
      <input type="text" class="form-control" #queryText>
      <button type="button" class="btn btn-warning ms-3" (click)="onSearch(queryText.value)">Search</button>
    </div>


    <a routerLink="/admin/categories/add" class="btn btn-primary">Add Category</a>
  </div>

  <ng-container *ngIf="categories$ | async as categories">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>URL Handle</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>{{category.urlHandle}}</td>
          <td>
            <a [routerLink]="['/admin/categories', category.id]" class="btn btn-light">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-container>
</div>
